*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.producto{
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: 5vh;
    justify-content: space-evenly;
    background-color: orange;
    align-items: center;
}

.producto__elementos{
    border: 1px solid red;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;

}
.pagina1{
    display: flex;
    width: 100%;
    height: 55vh;
    border: 1px solid blue;
    background-color: #283747;
   

}

pagina1__producto{
    display: flex;
    width: 50%;
    height: 300px;
    border: 2px solid yellow;
    

}

.producto__vistas{

    display: flex;
    width: 25%;
    height: 500px;
    flex-direction: column;
    border: 1px solid blue;
    align-items:center ;
    gap: 0.5rem;
    margin-left: 7rem;
    

    
   
} 
.producto__vistas img{
    display: flex;
    width: 100%;
    height: 7rem;
   
    border: 1px solid blue;
    object-fit: contain;
}
.moto{
   
    
    width: 95%;
    
    
}
.moto img{
    width: 60%;
    border: 1px solid red;
    margin-top: 2rem;
    object-fit: contain;
    margin-left: 7rem;
}
.text{
    padding: 10px;
    display: flex;
    width: 70%;
    border: 1px solid red;
    height: 450px;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    margin-right: 12rem;
}
.text h1{
    font-size: 4rem;
}
.estrellas{
    font-size: 2rem;
}
.text p{
    font-size: 1.5rem;
}
.text button{
    width: 7rem;
    font-size: 1rem;
    height: 2.5rem;
    background-color: orange;
}