*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    /* border: 1px solid yellow; */

    font-family:"Calistoga";
    overflow-y: auto;
}
.producto{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 5vh;
    justify-content: space-evenly;
    background-color: orange;
    align-items: center;
}

.producto__elementos{
    /* border: 1px solid red; */
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family:"Sigmar One" ;

}
.pagina1{
    display: flex;
    width: 100%;
    height: 55vh;
    border: 1px solid orange;
    background-color: #283747;
   

}

pagina1__producto{
    display: flex;
    width: 50%;
    height: 300px;
    /* border: 2px solid yellow; */
    

}

.producto__vistas{

    display: flex;
    width: 25%;
    height: 450px;
    flex-direction: column;
    /* border: 1px solid blue; */
    align-items:center ;
    gap: 0.5rem;
    margin-left: 7rem;
    padding: 10px;
    margin-top: 1rem;
    

    
   
} 
.producto__vistas img{
    display: flex;
    width: 100%;
    height: 6.5rem;
   
    /* border: 1px solid blue; */
    object-fit: contain;
}
.moto{
   
    
    width: 95%;
    
    
}
.moto img{
    width: 60%;
    /* border: 1px solid red; */
    margin-top: 2rem;
    object-fit: contain;
    margin-left: 7rem;
}
.text{
    padding: 10px;
    display: flex;
    width: 70%;
    /* border: 1px solid red; */
    height: 450px;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    margin-right: 12rem;
    font-family:"Calistoga";
    font-weight: normal;

}
.text h1{
    font-size: 4rem;
}
.estrellas{
    font-size: 2rem;
}
.text p{
    font-size: 1.5rem;
}
.text button{
    width: 7rem;
    font-size: 1rem;
    height: 2.5rem;
    background-color: orange;
}





/*CAJA OCULTA*/
.pagina1__oculta{
    display: flex;
    width: 30%;
    height: 85vh;
    /* border: 1px solid blue; */
    flex-direction: column;
    background-color: white;
    
    position: absolute;
    border: 5px solid orange;
   inset: 0;
   margin: auto;
  
}

.moto__oculta{
    width: 100%;
    margin-left: 5rem;
  
}

.moto__oculta i{
    display: flex;
    font-size: 3rem;
    color: orange;
    margin-right: 0;
    margin-top: 1rem;
    margin-left: 24rem;
    
}
.moto__oculta img{
    display: flex;
    width: 70%;
    height: 22rem;
    object-fit: contain;
    justify-content: center;
}
.text__oculta{
    padding: 10px;
    display: flex;
    width: 90%;
    /* border: 1px solid red; */
    height: 450px;
    justify-content: space-evenly;
    flex-direction: column;
    color:black;
    margin-left: 1rem;
    font-family:"Calistoga";
    font-weight: normal;

}
.text__oculta h1{
    font-size: 3rem;
}
.estrellas{
    font-size: 2rem;
}
.text__oculta p{
    font-size: 1.2rem;
}
.text__oculta button{
    width: 7rem;
    font-size: 1rem;
    height: 2.5rem;
    background-color: orange;
}

/*CAJA OCULTA FIN*/
@media(width<800px){
    body{
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .pagina1{
        width: 100%;
        height: 320px;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .producto__vistas{

        display: flex;
        width: 15%;
       margin-left: 0;
        
    }
    .producto__vistas img{
        display: flex;
        width: 80%;
        height: 3.5rem;
       
        
    }
    .moto{
   
    
        width: 45%;
        
        
    }
    .moto img{
        width: 70%;
        /* border: 1px solid red; */
        margin-top: 2rem;
        object-fit: contain;
        margin-left: 1rem;
        
    }
    .text{
        padding: 10px;
        display: flex;
        width: 70%;
        /* border: 1px solid red; */
        height: 450px;
        justify-content: space-evenly;
        flex-direction: column;
        color: white;
        margin-right: 12rem;
        font-family:"Calistoga display";
    
    }
        
    
        
       
}